<section class="jumbotron" style="width: 40%; margin: 20px auto; border: solid #99ddff 1px;">
<form action="http://localhost:3000/item/create" method="POST">
    <div class="form-group">
        <label for="select">Category</label>
        <select class="form-control" id="select" name="category">
            <option selected disabled>--Choose--</option>
            <option>Main Dishes</option>
            <option>Warm Appetizers</option>
            <option>Cold Appetizers</option>
            <option>Desserts</option>
            <option>Drinks</option>
        </select>
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" name="name">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" class="form-control" id="price" placeholder="Price" name="price">
    </div>
    <div class="form-group">
        <label for="weight">Weight</label>
        <input type="number" class="form-control" id="weight" placeholder="Weight" name="weight">
    </div>
    <div class="form-group">
        <label for="textarea">Ingredients</label>
        <textarea class="form-control" id="textarea" rows="3" name="ingredients"></textarea>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" style="margin-top: 20px;" id="submit" onclick="return check()">Enter</button>
</form>
</div>
<script>
    var name = document.getElementById("name");
    var price = document.getElementById("price");
    var weight = document.getElementById("weight");
    var ingredients = document.getElementById("textarea");
    var select = document.getElementById("select");
    var check = () => {
        if (name.value == "" || price.value == "" || weight.value == "" || ingredients.value == "" || 
        select.options[select.selectedIndex].text == "--Choose--") {
            alert("Enter all required information!");
            return false;
        }
        if (isNaN(price.value)) {
            alert("The price has to be a valid number!");
            return false;
        }
        if(price.value <= 0 || weight.value <= 0){
            alert("Enter a non negative price or weight!");
            return false;
        }
    };
</script>
</body>
</html>